@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Khóa tài khoản";
}

<hgroup>
    <h1 class="text-danger">Khóa tài khoanar.</h1>
    <h2 class="text-danger">Tài khoản của bạn đang bị khóa, xin hãy thử lại sau.</h2>
</hgroup>
