@{
    ViewBag.Title = "Về chúng tôi";
}
<h2>Thành viên trong nhóm:</h2>
<hr />  
<pre>Nguyễn Tấn Sang     MSSV: 1411060614</pre>
<pre>Trần Thiên Phú      MSSV: 1411060587</pre>
<pre>Đỗ Chí Phong        MSSV: 1411060612</pre>

