@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<a href="https://www.facebook.com/hau.dua.dh">Liên hệ Facebook</a>
<br />
<br />

<address>
    148/2A Quang Trung<br />
    Nguyễn Tấn Sang<br/>
    <abbr title="Số điện thoại">ĐT:</abbr> 0163 894 8429
</address>

