@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<a href="https://www.facebook.com/hau.dua.dh">Liên hệ Facebook</a>
<br />
<br />

<p>Gặp tôi ở nghĩa trang đúng 12h đêm, tôi đâu còn sống</p>

