@using WebBanHang.Models
@model WebBanHang.Models.DanhMuc
@{
    ViewBag.Title = "Giao diện trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html">
    <title>Web bán LAPTOP</title>
    <link rel="stylesheet" href="~/Content/CSS/styleTrangChu.css" type="text/css" />
</head>
<body>
    <div id="open">
        <div id="left">
            <p>
                Web bán LAPTOP
            </p>
        </div>

    </div>
    <div id="main">
        <div id="one">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Thương hiệu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">ASUS</a></li>
                    <li><a href="#">MAC</a></li>
                    <li><a href="#">DELL</a></li>
                    <li><a href="#">ACER</a></li>
                </ul>
            </div> 
        </div>
@Html.Raw(ViewBag.view);
    </div>
</body>
</html>

