@{
    ViewBag.Title = "Giao diện trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html">
    <title>Ứng dụng mua bán máy tính xách tay đã qua sử dụng</title>
    <link rel="stylesheet" href="~/Content/CSS/styleTrangChu.css" type="text/css" />
</head>
<body>
    <div id="open">
        <div id="left">
            <p>
                Ứng dụng mua bán máy tính xách tay đã qua sử dụng
            </p>
        </div>

    </div>
    <div id="main">
        <div id="one">

        </div>
        <div id="two">
            <div id="line-1">
                <div id="sp1" class="col-md-4">

                </div>
                <div id="sp2" class="col-md-4"></div>
                <div id="sp3" class="col-md-4"></div>
            </div>
            <div id="line-2">
                <div id="sp1" class="col-md-4">

                </div>
                <div id="sp2" class="col-md-4"></div>
                <div id="sp3" class="col-md-4"></div>
            </div>
            <div id="line-3">
                <div id="sp1" class="col-md-4">

                </div>
                <div id="sp2" class="col-md-4"></div>
                <div id="sp3" class="col-md-4"></div>
            </div>
        </div>
        <div id="three">
            <p id="note">Mặt hàng được đăng gần đây</p>
        </div>
    </div>
</body>
</html>

